@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Poppins";
}
.pl-4 {
  padding-left: 30px !important;
}

.heading {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
}
.mr-24 {
  margin-right: 24px;
}
/////////////////////////////////// TOOGLER ICON COLOR CHANGE COLOR //////////////////////////

.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none !important;
  position: relative;
  border-bottom: 2px solid #ffffff;
  transition: all 300ms linear;
}
.navbar .navbar-toggler-icon:after,
.navbar-toggler-icon:before {
  width: 24px;
  position: absolute;
  height: 2px;
  background-color: #ffffff;
  top: 0;
  left: 0;
  content: "";
  z-index: 2;
  transition: all 300ms linear;
}
.navbar .navbar-toggler-icon:after {
  top: 8px;
}

.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(45deg) !important;
}
.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: translateY(8px) rotate(-45deg) !important;
}
.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  border-color: transparent !important;
}
.navbar-toggler {
  background-color: rgb(52 196 57) !important;
  padding: 10px !important;
}

.offcanvas {
  backdrop-filter: blur(10px) !important;
  background-color: #00000080 !important;
}

/////////////////////////// HEADER SECTION ////////////////////////////////////////

.navbar {
  background-image: url("../public/assets/bg.jpg");
  // background: rgba(0, 0, 0, 0.1) !important;
  // backdrop-filter: blur(1px);
  font-family: inter;
  height: 95px;
  .navbar-brand {
    font-weight: 800;
    font-size: 2.027rem;
    // line-height: 170%;
  }
  ul {
    li {
      padding-left: 50px;
      a {
        font-weight: 600;
        font-size: 16px;
        line-height: 170%;
        color: #6d7580;
      }
    }
  }
}

//////////////////////////// HERO SECTION ///////////////////////////////////
.hero-section {
  background-image: url("../public/assets/bg.jpg");

  .icon {
    padding-right: 15px;
  }
  .context {
    font-weight: 400;
    font-size: 18px;
    line-height: 170%;
    color: #ebeef2;
    span {
      color: #d895ff;
    }
  }
  .btns {
    img {
      padding-right: 30px;
    }
  }
}

/////////////////////////////////// bycrypto-section ///////////////////@at-root
.bycrypto-section {
  padding: 217px 0px 50px 0px;
  .heading-text span {
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    background: linear-gradient(95.02deg, #ff82d4 0%, #1b1378 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  .small-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 170%;
    color: #2c3a4b;
  }
  .btn {
    font-size: 18px;
    width: 84px;
    height: 47px;
  }
  .table-responsive{
    margin: 70px 0px 50px 0px;
    .table {
      tr {
        td {
          font-weight: 600;
          font-size: 20px;
          color: #2c3a4b;
          span {
            font-size: 18px !important;
            color: #545d69;
          }
        }
      }
    }
  }
  
  .btn-learn {
    font-weight: 600;
    font-size: 18px;
    padding: 16px 32px;
    width: 214px;
    height: 63px;
    color: #ffffff;
    background: linear-gradient(95.02deg, #ff82d4 0%, #1b1378 100%);
    border-radius: 8px;
  }
}

////////////////////////// VISA CARDS SECTION ////////////////@at-root

.visacards-section {
  height: 850px;
  background-image: url("../public/assets/bg-warless.png");
  background-color: rgba(22, 15, 26, 0.5);

  .context {
    span {
      font-weight: 500;
      font-size: 18px;
      margin-bottom: 10px;
    }
    .heading {
      margin-bottom: 24px;
    }
    .small-text {
      font-weight: 400;
      font-size: 18px;
      line-height: 170%;
      margin-bottom: 50px;
    }
    .btn-card {
      font-weight: 600;
      font-size: 18px;
      padding: 16px 32px;
      width: 288px;
      height: 63px;
      background: rgba(33, 30, 31, 0.5);
      border: 1px solid #ffffff;
      border-radius: 8px;
    }
  }
}

/////////////////////////////////////////////  Deposit Crypto  ////////////////////////////@at-root

.depositcrypto {
  position: relative;
  margin-top: 67px;
  overflow: hidden;
  max-width: 860.23px;
  height: 665.63px;
  margin-left: auto;
  margin-right: auto;
  .section {
    position: absolute;
    bottom: -86px;
  }

  .context {
    margin-bottom: 30px;
    span {
      font-weight: 500;
      font-size: 18px;
      background: linear-gradient(95.02deg, #ff82d4 0%, #1b1378 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      margin-bottom: 10px;
    }
    .heading {
      color: #160f1a !important;
    }
    .small-text {
      margin-bottom: 30px !important;
    }
    .btn-learn {
      font-weight: 600;
      font-size: 18px;
      padding: 16px 32px;
      width: 292px;
      height: 63px;
      background: linear-gradient(95.02deg, #ff82d4 0%, #1b1378 100%);
      border: 1px solid #ffffff;
      border-radius: 8px;
      color: #ffffff;
    }
  }
  span {
    font-weight: 600;
    font-size: 18px;
    color: #2c3a4b;
  }
  .heading {
    font-weight: 700;
    font-size: 44px;
    color: #6d7580;
  }
  .small-text {
    font-weight: 600;
    font-size: 18px;
    color: #2c3a4b;
  }
}

////////////////////////////////////////////////////  Trading  Confidience //////////////////////////
.tradingconfidience {
  position: absolute;
  width: 100%;
  height: 713px;

  background: #160f1a;

  .text-content {
    margin-top: 150px;

    span {
      font-weight: 500;
      font-size: 18px;
      background: linear-gradient(95.02deg, #ff82d4 0%, #1b1378 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      margin-bottom: 24px;
    }
    .heading {
      margin-bottom: 60px;
    }
    .label {
      font-weight: 700;
      font-size: 14px;
      color: #ffffff;
      margin-bottom: 10px;
    }
  }
  .link {
    font-size: 18px;
  }
  .context {
    margin-left: 15px;
  }
  .pl-50 {
    padding-left: 50px;
  }
  .display {
    margin-top: 70px;
  }
  .noraml-heading {
    font-weight: 700;
    font-size: 32px;
    color: #160f1a;
    margin-bottom: 24px;
  }
  .small-text {
    font-size: 18px;
    line-height: 25px;
  }
}

///////////// Made Samplle ///////////////@at-root
.madesample {
  margin-top: 1260px;
  position: relative;
  overflow: hidden;
  max-width: 860.23px;
  height: 620px;
  margin-left: auto;
  margin-right: auto;
  .section {
    position: absolute;
    bottom: -86px;
  }

  .context {
    margin-bottom: 30px;
    span {
      font-weight: 500;
      font-size: 18px;
      background: linear-gradient(95.02deg, #ff82d4 0%, #1b1378 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      margin-bottom: 10px;
    }
    .heading {
      color: #160f1a !important;
      margin-bottom: 24px;
    }
    .small-text {
      margin-bottom: 10px !important;
    }
    .btn-learn {
      margin-top: 30px;
      font-weight: 600;
      font-size: 18px;
      padding: 16px 32px;
      width: 316px;
      height: 63px;
      background: linear-gradient(95.02deg, #ff82d4 0%, #1b1378 100%);
      border: 1px solid #ffffff;
      border-radius: 8px;
      color: #ffffff;
    }
  }
  span {
    font-weight: 600;
    font-size: 18px;
    color: #2c3a4b;
  }
  .heading {
    font-weight: 700;
    font-size: 44px;
    color: #6d7580;
  }
  .small-text {
    font-weight: 600;
    font-size: 18px;
    color: #2c3a4b;
  }
}

////////////////////// cryptocurrency-section ////////////@at-root
.cryptocurrency-section {
  height: 700px;
  // width: ;
  background-image: url("../public/assets/cryptocurrency.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .context {
    span {
      font-weight: 500;
      font-size: 18px;
      background: linear-gradient(95.02deg, #ff82d4 0%, #1b1378 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      margin-bottom: 10px;
    }
    .heading {
      margin-bottom: 50px;
    }
    .small-text {
      font-weight: 400;
      font-size: 18px;
      line-height: 170%;
      margin-bottom: 50px;
    }
    .btn-card {
      font-weight: 600;
      font-size: 18px;
      padding: 16px 32px;
      width: 288px;
      height: 63px;
      background: rgba(33, 30, 31, 0.5);
      border: 1px solid #ffffff;
      border-radius: 8px;
    }
  }
  .brand {
    font-weight: 600;
    font-size: 18px;
  }
  .price {
    font-weight: 700;
    font-size: 44px;
    line-height: 130%;
    letter-spacing: -0.01em;
    color: #d895ff;
  }
  .border-vertical {
    border-left: 1px solid #545d69;
    // transform: rotate(90deg);
  }
}

//////////////////////// Footer section ///////////////////
.footer-section {
  padding-top: 70px;
  // height: 760px;
  background: #160f1a;
  .btn-icon:nth-child(2) {
    margin-left: 24px;
  }

  ul {
    h6 {
      font-weight: 600;
      font-size: 18px;
      color: #ffffff;
      margin-bottom: 20px;
    }
    li {
      list-style: none;
      line-height: 170%;
      a {
        text-decoration: none;
        font-size: 16px;
        letter-spacing: 0.005em;
        color: #a5abb3;
      }
    }
  }

  .line {
    margin-top: 39px;
    border-top: 1px solid #2c3a4b;
  }
  .copy-right {
    padding: 30px 0px;
    font-size: 14px;
    line-height: 170%;
    letter-spacing: 0.008em;
    color: #545d69;
  }
  .mt-30 {
    margin-top: 30px;
  }
  .soical-icons {
    .icon {
      color: #A5ABB3;
      margin: 34px 34px 0px 0px;
      width: 26px;
      height: 26px;
    }
  }
}


//////////////////// MEDIA QUERRY ////////////////////@at-root

@media only screen and (max-width: 600px) {
  .navbar-nav{
    background-color: #160f1a;
    li{
      padding-left: 0px !important;
    }
  }
  .bycrypto-section{
    padding: 40px 0px 40px 0px;
  }
  .visacards-section {
    height: 650px;
  }
  .depositcrypto{
    margin-top: 0px;
    .section {
      bottom: 67px;
 }
  }
.heading {
  font-size: 24px;
  line-height: 40px;
}
.tradingconfidience .text-content {
  margin-top: 60px;
  .context{
    .mr-24{
      margin-bottom: 30px;
    }
  }
}
.icon-row{
  margin-bottom: 30px;
}
.madesample {
  margin-top: 1050px;
  overflow: visible;
  .context .btn-learn {
    padding: 16px 24px;
    width: 290px;
  }
  .section {
    bottom: 30px; 
  }
}
.cryptocurrency-section {
  height: 550px;
}
.footer-section{
  text-align: center;
}

}
